<% layout('layouts/boilerplate') %>
 
   <div class="row">
      <h1 class="text-center">Edit Motel</h1>
      <div class="col-md-6 offset-md-3">
        <form action="/motels/<%=motel._id %>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="motel[title]" id="title" value="<%=motel.title %>"required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" name="motel[location]" id="location" value="<%=motel.location %>" required>
            </div>

            <div class="mb-3">
                <label class="form-label" for="Price">Motel Price</label>
                 <div class="input-group">
                    <span class="input-group-text" id="price-label">Rs.</span>
                      <input type="text" class="form-control" name="motel[price]" id="price" priceholder="0" aria-label="price" 
                          aria-describedby="price-label" value="<%=motel.price %>" required>
                 </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" name="motel[description]" id="description" required><%=motel.description %></textarea>
            </div>

            <div class="mb-3">
                <div class="form-file custom-file">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="image" name="image" multiple>
                        <label class="input-group-text" for="image">Add more Images....</label>
                      </div>
        
                </div>
            </div>
             
            <div class="mb-3">
                <% motel.images.forEach(function(img, i) {  %>

                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>

            <div class="mb-3">
                  <button class="btn btn-info">Update Motel</button>
             </div>
        </form>
        <a href="/motels/<%=motel._id %>">Back to Motels</a>
      </div>
   </div>
    
